body {
    font-family: Arial, sans-serif;
    background-color: #5065FA;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px; 
}

.form-container h2 {
    margin-bottom: 10px;
    text-align: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-container button {
    padding: 10px;
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #1877f2;
}

.form-container .text {
    text-align: center;
}

.form-container .text.login {
    display: block;
    margin-top: 15px;
}
.container1 {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.line {
    flex: 1;
    height: 1px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.267);
}

.or {
    padding: 0 10px;
}
.container2 {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.line {
    flex: 1;
    height: 1px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.267);
}

.or {
    padding: 0 10px;
}
.fa-brands.fa-facebook{
    color: white;
    position: relative;
    right: 11px;
}

.fb{
    width: 200px;
    position: relative;
    right: 20px;
}
.google img{
    position: relative;
    right: 5px;
}
    .google{
        position: relative;
    right: 4px;
    }
    .gender{
        position: relative;
    left: 13px;
    }
    .email:invalid{
        color: 1px solid red;
    }
    .create:invalid{
        color: 1px solid red;
    }
    .confirm:invalid{
        color: 1px solid red;
    }
    .text3{
        position: relative;
    left: 8px;
    }